* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  padding: 20px 40px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  padding: 0;
  margin: 0;
  gap: 4px;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "Muli", sans-serif;
}

label {
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.18rem;
  color: #222;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

button {
  background-color: #222;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Muli", sans-serif;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}
